<div class="container-fluid col-xs-12 col-lg-8">
				<div class="container" style="max-width: 650px;margin:10px auto;border:1px solid black">	
					 <div class="row">
						<div class="col-xs-12">
							<div class="left-block">
								<span class="match-Header">Match - {{match.matchid}}</span>
							</div>
							<div class="right-block">
								<span class="small-text">Date : {{match.Matchdate | date : 'yyyy-MMM-dd'}}</span>
								<br/>
								<span class="small-text">Venue : {{match.venue}}</span>
							</div>
							<!-- <div class="clear"></div> -->	
							<div ng-show="match.Displayflag">
								<div style="text-align:center;">
									<span>Time Remaining : {{match.timeduration}}</span>
								</div>
							</div>
						</div>
					</div> 
					<div class="row">
						<div class="col-xs-6 col-xs-offset-3">
							<img ng-src="Images/{{match.Team1ImgUrl}}" class="team-Logo-small" title="{{match.team1id}}" /> 
							<span class="match-sub-Header">Vs</span> 
							<img ng-src="Images/{{match.Team2ImgUrl}}" class="team-Logo-small" title="{{match.team2id}}" /> 
						</div>
					</div> 
					<div class="row">
						<div class="col-xs-3">
							<span> Pick your Choice :	</span>
						</div>
						<div class="col-xs-7 btn-group">	
							<label class="btn btn-default"><input type="radio" ng-model="match.selection" value="{{match.team1id}}"> {{match.team1id}}</label> 
							<label class="btn btn-default"><input  type="radio" ng-model="match.selection" value="{{match.team2id}}"> {{match.team2id}}</label> 
							<label class="btn btn-default"><input type="radio" ng-model="match.selection" value="0"> Cannot Choose <img src="Images/smiley.gif" alt="Smiley face" width="20" height="20" /></label>
						</div>
						<div class="col-xs-2">
							<button ng-click="submit(match)" ng-disabled="match.dbselection == 1" class="btn btn-primary">Vote</button>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<span>Result - {{match.dbselection}} won the match</span>
						</div>
					</div>	
				</div>
</div>