/* Styles go here */

.team-Logo-small
{
	height: 75px;
	width: 75px;
	/*display: inline;
	vertical-align: middle;*/
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.team-Name
{
	vertical-align: middle;
	display: inline;
}

.match-Header
{
	font-size: 24px;
	font-family: BentonSansBold,​Arial,​sans-serif;
	display: inline;
	font-weight: 500;
	font-style: normal;
	font-variant: normal;
	text-align: left;
	color: #592D23;
}

.match-sub-Header
{
	font-size: 18px;
	font-family: BentonSansBold,​Arial,​sans-serif;
	display: inline;
	font-weight: 500;
	font-style: normal;
	font-variant: normal;
	padding-left: 30px;
	padding-right: 30px;
}

.outerbox
{
	width: 650px;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	margin-left : 20px;
	background-color: #F8CE80;
}

hr.style-two
{
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.match-body{
	font-family: BentonSansBold,​Arial,​sans-serif;
	font-family: 12px;
}

.body-inline{
	text-align: left;
	display: inline;
	vertical-align: middle;
}


.header-date-format{
	vertical-align: top;
	padding-right: 200px;
}

.body-inline-left{

}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.small-text
{
		
	color: #815F3A;
	/*color: #91827E;*/
}

.left-block
{
	float:left;
}

.right-block
{
	float: right;
}

.clear
{
	clear:both;
}

.middle-block
{
	text-align: center;
	vertical-align: middle;
}

ul {
	float: left;
}
	li {
		float: left;
		background-color: #222;
		padding: 5px 19px;
		margin: 5px 2px 5px 0px;
		list-style: none;
	}
	li:hover, li:hover a {
		background-color: #fff;
		color:black;
		text-decoration: none;
	}
	li a {
		text-decoration: none;
		color: white;
		font-size: 21px;
		font-style: italic;
	}
/*	li:nth-child(1) { border-radius: 4px 0px 0px 4px; margin-left: 1px;}
	li:nth-child(3) { border-radius: 0px 4px 4px 0px;}
*/	.active {
		background-color: #1275ae;
		color: white;
		text-decoration: none;
	}